.addzone>*{
  background-color: #ccc;
  border: 2px solid #aaa;
  margin-bottom: 5px;
  min-height: 50px;
}

.myleft-5{
  /* float:left;  */
  display: flex !important;
  flex-flow: row wrap !important;
  list-style: none;
}
.myright-5{
  position: absolute;
  right: 18px;
  display: flex !important;
  flex-flow: row wrap !important;
  list-style: none;
}

.myclear-le{
  list-style: none; 
  padding-left: 10px;
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 576px){
  .mycol-sm {
      max-width: 100%;  
      display: flex;
      flex-flow: row wrap;
      
  }
}

.myli-sm{
  padding-right: 15px;
}
@media (min-width: 768px){
  .myliclear-md {
    padding-right: 0px;
  }
}

footer{
  width: 100vw;
  /* position: absolute; */
  bottom: 0vh;
}

.bobofixed {
  position: fixed;
  border: 3px solid rgb(0, 255, 230);
  border-radius: 0.5rem;
  bottom: 5vh;
  right: 5vh;
  z-index: 999;
  animation: bobojump 2s ease infinite;
}

.myform-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgb(0, 255, 230);
  outline: 0px;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 255, 230, 0.3);
}

.pinefixed {
  position: absolute;
  bottom: 0;
  left: 1vh;
  z-index: 999;
}
@media (max-width: 650px){
  .pine-xs {
    transform: scale(0.58);
    position: absolute;
    bottom: -3.4vh;
    left: -3.6vh;
  }
}

.mytitle{
  font-size: 1.3rem;
}

.vline{
  width: 0.05rem;
  background: linear-gradient(to bottom, transparent 15%, #000000 20%, #000000 90%, transparent 95%);
}

.myhighlight{
  background: linear-gradient(60deg,#26c6da,#0097a7);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(0,188,212,.6);
}

.bd-radius-clear{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.mypl-20px{
  padding-left: 20px;
}